body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.background {
  background-color: #000;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

@keyframes shiftButton {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}

.button-shift {
  animation: shiftButton 0.5s forwards;
}

.drop-zone {
  width: 230px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s, background-color 0.3s;
  background-color: transparent;
  position: relative;
}

.drop-zone.dragging {
  border-color: #000;
  background-color: rgba(0, 0, 0, 0.1); 
}

.drop-zone p {
  margin: 0;
  color: #aaa;
  margin-top: 10px;
  z-index: 1;
}

.drop-zone video {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.drop-zone svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: transform 0.5s;
}

.drop-zone.dragging svg {
  transform: translate(-50%, -50%) translateX(50px);
}
