.body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.background {
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

@keyframes shiftButton {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-350px);
  }
}

.button-shift {
  animation: shiftButton 3s forwards;
}

.drop-zone {
  width: 400px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s, background-color 0.3s;
  background-color: transparent;
  position: relative;
}

.drop-zone.dragging {
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1); 
}

.drop-zone p {
  margin: 0;
  color: #aaa;
  margin-top: 0px;
  z-index: 1;
}

.upload-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.vid-button {
  width: 100%;
  height: 100%;
  border-radius: 100px; /* Adjust to match your button's rounded edges */
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px; /* Match the button's rounded edges */
  overflow: hidden;
  z-index: 1;
}

.video-preview {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 100px;
  object-fit: cover; /* Ensures the video covers the entire area without distortion */
  overflow: hidden;
}
.drop-zone svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: transform 0.5s;
}

.drop-zone.dragging svg {
  transform: translate(-50%, -50%) translateX(50px);
}
